<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.assolutoRacing.batch.mapper.TempUserMapper">
  <delete id="deleteOfAfterOneDay">
     delete
     from
     temp_user
     <where>
       DATE_SUB(NOW(),INTERVAL 1 DAY) <![CDATA[>]]> create_time
     </where>
  </delete>
  
  <delete id="deleteOfRegistered">
	delete temp_user
	from temp_user
	inner join user
	on temp_user.user_name = user.user_name
	and temp_user.mail = user.mail;
  </delete>
</mapper>